#samsung_tvremote {

    .samsung_tvremote {
        margin-left: auto;
        margin-right: auto;
        font-size:110%;
        width:80%;
    }
    
    td {
        //width: 33%;
    }


    .button {
        background: url('/@{webroot}/images/alpha/fff_10.png');
        border: 1px solid #222;
        color: White;
        //display: inline;
        cursor: pointer;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-right: 15%;
        padding-left: 13%;
        line-height: 200%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        .border-radius(4px);

        &:hover {
            background: url('/@{webroot}/images/alpha/fff_20.png');
        }
    }
  
    #msg {
        background: url('/@{webroot}/images/alpha/fff_10.png');
        border: 1px solid #222;
        color: #fff;
        margin-left: 11%;
        padding: 2px 5px;
        position: relative;
        .border-radius(4px);
        -webkit-appearance: none;
 
        &:hover {
            background: url('/@{webroot}/images/alpha/fff_20.png');
        }
    }
    
    .send {
        background: url('/@{webroot}/images/alpha/fff_10.png');
        border: 1px solid #222;
        color: #fff;
        //width: 96%;
        //margin-left: 20%;
        margin: 3px 3px 3px 3px;
        padding: 2px 5px;
        position: relative;
        .border-radius(4px);
        -webkit-appearance: none;
 
        &:hover {
            background: url('/@{webroot}/images/alpha/fff_20.png');
        }
    }
}