
<div id="samsung_tvremote" class="module" data-module="samsung_tvremote">

  <div class="module_settings"><span>Settings</span></div>
  <div class="module_remove"><span>Remove</span></div>
  <h2>Samsung TVremote</h2>
  
  <a class="button fleft" data-xhr_url="KEY_POWEROFF">POWER OFF</a>
  <a class="button fright" data-xhr_url="KEY_SOURCE">SOURCE</a>
  
  <div class="center">
  <a class="button" data-xhr_url="KEY_1">1</a>
  <a class="button" data-xhr_url="KEY_2">2</a>
  <a class="button" data-xhr_url="KEY_3">3</a>
  <a class="button" data-xhr_url="KEY_4">4</a>
  <a class="button" data-xhr_url="KEY_5">5</a>
  <a class="button" data-xhr_url="KEY_6">6</a>
  <a class="button" data-xhr_url="KEY_7">7</a>
  <a class="button" data-xhr_url="KEY_8">8</a>
  <a class="button" data-xhr_url="KEY_9">9</a>
  <a class="button" data-xhr_url="KEY_">X</a>
  <a class="button" data-xhr_url="KEY_0">0</a>
  <a class="button" data-xhr_url="KEY_PRECH">PC</a> 
  </div>
  <br><br>
  <ul class="vertical">
        <li><a class="button" data-xhr_url="KEY_VOLUP">VOLUP</a></li>
        <li> <a class="button" data-xhr_url="KEY_VOLDOWN">VOLDOWN</a></li>
</ul>


<ul class="movement test">
    <li><a class="button" data-xhr_url="KEY_LEFT">LEFT</a></li>
    <li><a class="button" data-xhr_url="KEY_ENTER">ENTER</a></li>
    <li><a class="button" data-xhr_url="KEY_RIGHT">RIGHT</a></li>
</ul>

  <a class="button" data-xhr_url="KEY_UP">UP</a>
  <a class="button" data-xhr_url="KEY_DOWN">DOWN</a>
  <a class="button" data-xhr_url="KEY_LEFT">LEFT</a>
  
  <a class="button" data-xhr_url="KEY_MENU">MENU</a>
  <a class="button" data-xhr_url="KEY_PRECH">PRECH</a>
  <a class="button" data-xhr_url="KEY_GUIDE">GUIDE</a>
  <a class="button" data-xhr_url="KEY_INFO">INFO</a>
  <a class="button" data-xhr_url="KEY_RETURN">RETURN</a>
  <a class="button" data-xhr_url="KEY_CH_LIST">CH_LIST</a>
  <a class="button" data-xhr_url="KEY_EXIT">EXIT</a>
  <a class="button" data-xhr_url="KEY_ENTER">ENTER</a>
  <a class="button" data-xhr_url="KEY_SOURCE">SOURCE</a>
  <a class="button" data-xhr_url="KEY_AD">AD</a>
  <a class="button" data-xhr_url="KEY_PLAY">PLAY</a>
  <a class="button" data-xhr_url="KEY_PAUSE">PAUSE</a>
  <a class="button" data-xhr_url="KEY_MUTE">MUTE</a>
  <a class="button" data-xhr_url="KEY_PICTURE_SIZE">PICTURE SIZE</a>
  
  <a class="button" data-xhr_url="KEY_VOLDOWN">VOLDOWN</a>
  <a class="button" data-xhr_url="KEY_TOOLS">TOOLS</a>
  <a class="button" data-xhr_url="KEY_POWEROFF">POWER OFF</a>
  <a class="button" data-xhr_url="KEY_CHUP">CHUP</a>
  <a class="button" data-xhr_url="KEY_DOWN">CHDOWN</a>
  <a class="button" data-xhr_url="KEY_CONTENTS">CONTENTS</a>
  <a class="button" data-xhr_url="KEY_W_LINK">W LINK</a>
  <a class="button" data-xhr_url="Media_p">Media p</a>
  <a class="button" data-xhr_url="KEY_RSS">RSS</a>
  <a class="button" data-xhr_url="Internet">Internett</a>
  <a class="button" data-xhr_url="Dual">DUAL</a>
  <a class="button" data-xhr_url="KEY_MTS">MTS</a>
  <a class="button" data-xhr_url="KEY_CAPTION">CAPTION</a>
  <a class="button" data-xhr_url="Subt">SUBT</a>
  <a class="button" data-xhr_url="KEY_REWIND">REWIND</a>
  <a class="button" data-xhr_url="KEY_FF">FF</a>
  <a class="button" data-xhr_url="KEY_REC">REC</a>
  <a class="button" data-xhr_url="KEY_STOP">STOP</a>
  <a class="button" data-xhr_url="KEY_TV">TV</a>

http://wiki.samygo.tv/index.php5/D-Series_Key_Codes

  NOT WORKING KEYS
  <a class="button" data-xhr_url="KEY_CONTENT">KEY CONTENT</a>
  <a class="button" data-xhr_url="KEY_53">iNTERNETT</a>
  <a class="button" data-xhr_url="KEY_PC">PC</a>
  <a class="button" data-xhr_url="KEY_98_OFF">OFF</a>
  <a class="button" data-xhr_url="KEY_ON">ON</a>
  <a class="button" data-xhr_url="KEY_HDMI1">HDMI1</a>
  <a class="button" data-xhr_url="KEY_POWER">POWER</a>
  <a class="button" data-xhr_url="KEY_STANDBY">STANDBY</a>
  <a class="button" data-xhr_url="KEY_DUAL">DUAL</a>
  <a class="button" data-xhr_url="KEY_SUBT">SUBT</a>
  <a class="button" data-xhr_url="KEY_CHANUP">KEY_CHANUP</a>
  <a class="button" data-xhr_url="KEY_CHAN_UP">KEY_CHAN_UP</a>
  <a class="button" data-xhr_url="KEY_PROGUP">KEY_PROGUP</a>
  <a class="button" data-xhr_url="KEY_PROG_UP">KEY_PROGUP</a>
  <a class="button" data-xhr_url="KEY_SLEEP">SLEEP</a> <!-- WORKS -->
  <a class="button" data-xhr_url="KEY_P_UP">P_UP</a>
  <a class="button" data-xhr_url="KEY_P_DOWN">P_DOWN</a>
  <a class="button" data-xhr_url="KEY_MEDIA_P">MEDIA.P</a>
  <a class="button" data-xhr_url="KEY_ANYNET">ANYNET</a>
  <a class="button" data-xhr_url="KEY_PIP">PIP</a>
  # Key Reference
  
# Normal remote keys

 
 #KEY_CONTENT
 #KEY_INTERNET
 #KEY_PC
 #KEY_HDMI1
 #KEY_OFF
 #KEY_POWER
 #KEY_STANDBY
 #KEY_DUAL
 #KEY_SUBT
 #KEY_CHANUP
 #KEY_CHAN_UP
 #KEY_PROGUP
 #KEY_PROG_UP