<div id="samsung_tvremote" class="module" data-module="samsung_tvremote">

  <div class="module_settings"><span>Settings</span></div>
  <div class="module_remove"><span>Remove</span></div>
  <h2>Samsung tvremote</h2>
<br>
<!--Taken and modified from http://forum.samygo.tv/viewtopic.php?f=12&t=1792 -->

<table class="samsung_tvremote" border="0" cellpadding="0" cellspacing="1" style="text-align: center;">
   <tr>
      <td><a class="button" data-xhr_url="KEY_POWEROFF">Power</a></td>
      <td>&nbsp;</td>
      <td><a class="button" data-xhr_url="KEY_SOURCE">Source</a></td>
   </tr>
   <tr>
      <td>&nbsp;</td>
      <td><a class="button" data-xhr_url="KEY_HDMI">HDMI</a></td>
      <td>&nbsp;</td>
   </tr>
   <tr>
      <td><a class="button" data-xhr_url="KEY_1">1</a></td>
      <td><a class="button" data-xhr_url="KEY_2">2</a></td>
      <td><a class="button" data-xhr_url="KEY_3">3</a></td>
   </tr>
   <tr>
      <td><a class="button" data-xhr_url="KEY_4">4</a></td>
      <td><a class="button" data-xhr_url="KEY_5">5</a></td>
      <td><a class="button" data-xhr_url="KEY_6">6</a></td>
   </tr>
   <tr>
      <td><a class="button" data-xhr_url="KEY_7">7</a></td>
      <td><a class="button" data-xhr_url="KEY_8">8</a></td>
      <td><a class="button" data-xhr_url="KEY_9">9</a></td>
   </tr>
   <tr>
      <td><a class="button" data-xhr_url="KEY_TT_MIX">TTX/Mix</a></td>
      <td><a class="button" data-xhr_url="KEY_0">0</a></td>
      <td><a class="button" data-xhr_url="KEY_PRECH">Pre-Ch</a></td>
   </tr>
   <tr>
      <td><a class="button" data-xhr_url="KEY_VOLUP">Vol +</a></td>
      <td><a class="button" data-xhr_url="KEY_MUTE">Mute</a></td>
      <td><a class="button" data-xhr_url="KEY_CHUP">Prog +</a></td>
   </tr>
   <tr>
      <td><a class="button" data-xhr_url="KEY_VOLDOWN">Vol -</a></td>
      <td><a class="button" data-xhr_url="KEY_CH_LIST">Ch List</a></td>
      <td><a class="button" data-xhr_url="KEY_CHDOWN">Prog -</a></td>
   </tr>
   <tr>
      <td><a class="button" data-xhr_url="KEY_CONTENTS">Content</a></td>
      <td><a class="button" data-xhr_url="KEY_MENU">Menu</a></td>
      <td><a class="button" data-xhr_url="KEY_GUIDE">Guide</a></td>
   </tr>
   <tr>
      <td><a class="button" data-xhr_url="KEY_TOOLS">Tools<a/></td>
      <td><a class="button" data-xhr_url="KEY_UP">Up</a></td>
      <td><a class="button" data-xhr_url="KEY_INFO">Info</a></td>
   </tr>
   <tr>
      <td><a class="button" data-xhr_url="KEY_LEFT">Left</a></td>
      <td><a class="button" data-xhr_url="KEY_ENTER">Enter</a></td>
      <td><a class="button" data-xhr_url="KEY_RIGHT">Right</a></td>
   </tr>
   <tr>
      <td><a class="button" data-xhr_url="KEY_RETURN">Return</a></td>
      <td><a class="button" data-xhr_url="KEY_DOWN">Down</a></td>
      <td><a class="button" data-xhr_url="KEY_EXIT">Exit</a></td>
   </tr>
   <tr>
      <td colspan=3>
      <table width="100%" style="text-align: center;">
      <td bgcolor="red"><a class="button" data-xhr_url="KEY_RED">A</a></td>
      <td bgcolor="green"><a class="button" data-xhr_url="KEY_GREEN">B</a></td>
      <td bgcolor="gold"><a class="button" data-xhr_url="KEY_YELLOW">C</a></td>
      <td bgcolor="darkblue"><a class="button" data-xhr_url="KEY_CYAN">D</a></td>
      </table>
      </td>
   </tr>
   <tr>
      <td><a class="button" data-xhr_url="KEY_W_LINK">Media P</a></td>
      <td><a class="button" data-xhr_url="KEY_RSS">Internet</a></td>
      <td><a class="button" data-xhr_url="KEY_MTS">Dual</a></td>
   </tr>
   <tr>
      <td><a class="button" data-xhr_url="KEY_AD">AD<a/></td>
      <td><a class="button" data-xhr_url="KEY_PICTURE_SIZE">P Size</a></td>
      <td><a class="button" data-xhr_url="KEY_CAPTION">Subt</a></td>
   </tr>
   <tr>
      <td><a class="button" data-xhr_url="KEY_REWIND">Rew</a></td>
      <td><a class="button" data-xhr_url="KEY_PAUSE">Pause<a/></td>
      <td><a class="button" data-xhr_url="KEY_FF">FF</a></td>
   </tr>
   <tr>
      <td><a class="button" data-xhr_url="KEY_REC">Rec</a></td>
      <td><a class="button" data-xhr_url="KEY_PLAY">Play</a></td>
      <td><a class="button" data-xhr_url="KEY_STOP">Stop</a></td>
   </tr>
</table>
<br/>
<input type="text" size="15" value="Input" id="msg" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;"><a class="button send">Send</a><br>
</body>
</html>